.container-skills {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fff;

    &__skill {
        color: rgb(36, 36, 36);
        background-color: #F4F5F9;
        padding: 25px;
        border: .2px solid rgb(196, 196, 196);
        
        &:first-of-type {
            border-top-left-radius: .625em;
            border-top-right-radius: .625em;
            border: .5px solid rgb(196, 196, 196);
        }

        &:last-of-type {
            border-bottom-left-radius: .625em;
            border-bottom-right-radius: .625em;
            border: .5px solid rgb(196, 196, 196);
        }

        h2 {
            font-weight: 700;
            font-size: 1.25em;
        }

        i {
            color: #fff;
            padding: .9em;
            border-radius: 5px;
            background-color: $color-1;
        }
    }
}