
/*
    - Violetclair: #8C7CFC;
    - VioletFonce: #292F4C;
    - Bleuclair : #7ABBFD;
    - Jaune : #CEAA84;
    - Vertbleu : #93CBB8;
    - Saumon : #E89E96;
*/

$main-color:#292F4C;
$alt-color: #8C7CFC;
$text-color: #fff;
$color-1:#7ABBFD;
$color-2:#000000;
$color-3:#E89E96;
$color-4:#CEAA84;
$color-5:#93CBB8;


$default-font-size: 16px;

// Police

$font-familly: 'Open Sans', sans-serif;
$font-familly-fallback: 'Helvetica', Arial, sans-serif;


    


